button {
    padding: 10px 15px;
    background-color: #EA4F0D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: clamp(16px, 1.3vw, 20px);
    height: 100%;
}
  
button:hover {
    background-color: #CC450C;
}