body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #18181B;
  color: white;
}

.movie-search {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

h1 {
  text-align: center;
}

.search-inputs {
  flex: 1;
  display: flex;
  justify-content: space-between;
  
}

.search-inputs input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-inputs #title {
  flex: 1;
}

.search-inputs #year {
  width: 100px;
}

.movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 50px
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: auto;
}

.movie-actions {
  display: flex;
  gap: 16px
}

.no-results {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-results img {
  width:300px
}

@media (max-width: 600px) {
  .movie-list {
    margin: 20px 0;
  }

  .search-bar {
    flex-wrap: wrap;
    height: auto;
  }

  .search-inputs {
    width: 100%;
  }

  .search-inputs #year {
    width: 50px;
  }

  .movie-actions {
    width: 100%;
    justify-content: space-between;
  }

  .no-results img {
    width:200px
  }
}