.movie-card {
    background: #27272A;
    border-radius: 20px;
    overflow: hidden; 
    flex: 0 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column
}

.movie-text {
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    white-space: wrap;
}
  
.movie-text img {
    width: 100%;
    height: auto;
}

.movie-text h2{
    font-size: clamp(24px, 2vw, 32px);
}
.movie-text p{
    font-size: clamp(16px, 1.3vw, 20px);
}

@media (max-width: 600px) {
    .movie-text h2{
        font-size: clamp(14px, 5vw, 18px);
    }
    .movie-text p{
        font-size: clamp(10px, 3vw, 14px);
    }
    .movie-card {
      flex: 0 1 calc(50% - 10px);
    }
  }